# Ignore Python virtual environments
venv/
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large data files (optional)
*.csv

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
